{% extends "email/base.html" %}
{% block content %}
  <h2>Reset Your Password</h2>
  <p>
    We received a request to reset the password for your Mbo Portal account.
    Use the code below to continue:
  </p>

  <div class="otp-wrap">
    <span class="otp-code">{{ otp }}</span>
  </div>
  <p class="otp-expiry">This code expires in 10 minutes.</p>

  <p>
    After entering this code, you&rsquo;ll be asked to create a new password.
  </p>

  <p class="fine-print">
    If you didn&rsquo;t request a password reset, you can safely ignore this
    email. Your account remains secure.
  </p>
{% endblock %}